
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- End Header -->
<!-- Start Banner Carousel -->
<div class="banner-outer">
    <div class="banner-slider">
        <div class="slide1" style="background: url(../../imageshome/banner1.jpg)">
            <div class="container">
                <div class="content animated fadeInRight">
                    <div class="fl-right">
                        <h1 class="animated fadeInRight">5★<span class="animated fadeInRight">EDUCATION QUALITY</span> </h1>
                        <p class="animated fadeInRight">FPT University</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide2" style="background: url(../../imageshome/banner2.jpg)">
            <div class="container">
                <div class="content">
                    <h1 class="animated fadeInUp" style="color:black!important">TOP2</h1>
                    <p class="animated fadeInUp" style="color:black!important">BEST BUSINESS MANAGEMENT IN VIETNAM</p>
                </div>
            </div>
        </div>
        <div class="slide3" style="background: url(../../imageshome/banner3.jpg)">
            <div class="container">
                <div class="content animated fadeInLeft">
                    <h1 class="animated fadeInLeft">19%</h1>
                    <p class="animated fadeInLeft">STUDENTS HAVE WORKING OVERSEAS.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="search-box" style="position:absolute;top: 100px; z-index: 1000; left: 30%;width: 40%;">
        <input type="text" value="Search Job..." id="txtsearchbox" style="height: 50px;margin-right: 20px; padding: 20px; width: 70%;" />
        <input type="button" id="btnsearch" value=" Click Now!" style="height: 50px;background: red;color: white;width: 17%;border: none;" />
    </div>
</div>
<!-- End Banner Carousel -->
<!-- Start About Section -->
<section class="about">
    <div class="container">
        <ul class="row our-links">
            <li class="col-sm-4 apply-online clearfix equal-hight">
                <div class="icon"><img src="../imageshome/apply-online-ico.png" class="img-responsive" alt=""></div>
                <div class="detail">
                    <h3>Apply Online</h3>
                    <p>FSMS system makes job application simple</p>
                    <a href="apply-online.html" class="more"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </li>
            <li class="col-sm-4 prospects clearfix equal-hight">
                <div class="icon"><img src="../imageshome/prospects-ico.png" class="img-responsive" alt=""></div>
                <div class="detail">
                    <h3><span>Download</span> CV</h3>
                    <p>Dowload information of student that are quickly...</p>
                    <a href="#" class="more"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </li>
            <li class="col-sm-4 certification clearfix equal-hight">
                <div class="icon"><img src="../imageshome/certification-ico.png" class="img-responsive" alt=""></div>
                <div class="detail">
                    <h3>Certification good Recruiter</h3>
                    <p>Recruiter will be carefully selected to meet the criteria...</p>
                    <a href="#" class="more"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </li>
        </ul>
    </div>

</section>
<!-- End About Section -->
<!-- Start Cources Section -->
<section class="our-cources padding-lg" style="display: block;
    background: url(../../imageshome/cources-bg.jpg) no-repeat center top / cover;
    position: relative;">
    <div class="container">
        <h2> Top Recruiter</h2>
        <ul class="course-list owl-carousel">

            @{
                var ListRecruiter = ViewBag.TopRecruiter;
                var Location = ViewBag.TopLocation;
                var Image = ViewBag.TopImage;
                foreach (var user in ListRecruiter)
                {
                    <li style="display: block;background: url() no-repeat center top;position: relative;">
                        <div class="inner">
                            <figure><img src="@Url.Content(Image[user.Key])" alt=""></figure>

                            <div class="bottom-txt clearfix">
                                <div class="duration">
                                    <h4>@user.Key.Name</h4>
                                    @*<span>@user.Value Job - @Location[user.Key.LocationID] </span>*@
                                    <span>@user.Value Job  </span>
                                </div>

                            </div>
                        </div>
                    </li>
                }
            }

        </ul>
    </div>
</section>
<!-- End Cources Section -->
<!-- Start Our Importance Section -->
<section class="our-impotance padding-lg">
    <div class="container">
        <ul class="row">
            <li class="col-sm-4 equal-hight">
                <div class="inner">
                    <img src="~/Assets/images/course_8.png" alt="Malleable Study Time">
                    <h3>Software Engineer</h3>
                </div>
            </li>
            <li class="col-sm-4 equal-hight">
                <div class="inner">
                    <img src="~/Assets/images/course_11056.png" alt="Placement Assistance">
                    <h3>Business Administration</h3>
                </div>
            </li>
            <li class="col-sm-4 equal-hight">
                <div class="inner">
                    <img src="~/Assets/images/spyware.png" style="width:165px; height:165px;" alt="Easy To Access">
                    <h3>Information Assurance</h3>
                </div>
            </li>
            <li class="col-sm-4 equal-hight">
                <div class="inner">
                    <img src="~/Assets/images/course_27.png" alt="Study on the Go">
                    <h3>English language</h3>
                </div>
            </li>
            <li class="col-sm-4 equal-hight">
                <div class="inner">
                    <img src="~/Assets/images/course_28.png" alt="Get an Innovative, In-depth Transition">
                    <h3>Japanese Language</h3>
                </div>
            </li>
            <li class="col-sm-4 equal-hight">
                <div class="inner">
                    <img src="~/Assets/images/panel.png" style="width:165px; height:165px;" alt="Get an Innovative, In-depth Transition">
                    <h3>Graphic Design</h3>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- End Our Importance Section -->
<!-- Start How Study Section -->
<section class="how-study padding-lg">
    <div class="container">
        <h2> <span>There are many ways to learn</span> How do you want to study?</h2>
        <ul class="row">
            <li class="col-sm-4">
                <div class="overly">
                    <div class="cnt-block">
                        <h3>
                            Self-paced distance
                            learning
                        </h3>
                        <p>FPT is simply dummy text of the printing...</p>
                    </div>
                    <a href="#" class="more"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
                <figure><img src="../imageshome/how-study-img1.jpg" class="img-responsive" alt=""></figure>
            </li>
            <li class="col-sm-4">
                <div class="overly">
                    <div class="cnt-block">
                        <h3>
                            Study on
                            campus
                        </h3>
                        <p>FPT is simply dummy text of the printing...</p>
                    </div>
                    <a href="#" class="more"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
                <figure><img src="../imageshome/how-study-img2.jpg" class="img-responsive" alt=""></figure>
            </li>
            <li class="col-sm-4">
                <div class="overly">
                    <div class="cnt-block">
                        <h3>
                            Our Learning
                            Partners
                        </h3>
                        <p>FPT is simply dummy text of the printing...</p>
                    </div>
                    <a href="#" class="more"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                </div>
                <figure><img src="../imageshome/how-study-img3.jpg" class="img-responsive" alt=""></figure>
            </li>
        </ul>
    </div>
</section>
<!-- End How Study Section -->
<!-- Start Why Choose Section -->
<section class="why-choose padding-lg" style="background: url(../../imageshome/why-choose-bg.jpg) no-repeat center center/cover;position: relative;">
    <div class="container">
        <h2><span>The Numbers Say it All</span>Why did 20,000 students choose FPT university?</h2>
        <ul class="our-strength">
            <li>
                <div class="icon"><span class="icon-certification-icon"> </span></div>
                <div><span><span>96%</span></span></div>
                <div class="title">STUDENTS HAVE JOB NOW At FPT University</div>
            </li>
            <li>
                <div class="icon"><span class="icon-student-icon"></span></div>
                <div><span><span>5★</span></span></div>

                <div class="title">EDUCATION QUALITY  At FPT University</div>
            </li>
            <li>
                <div class="icon"><span class="icon-book-icon"></span></div>
                <div><span>TOP 2</span></div>
                <div class="title">BEST BUSINESS MANAGEMENT IN VIETNAM</div>
            </li>
            <li>
                <div class="icon"><span class="icon-parents-icon"></span></div>
                <div class="couter-outer"><span>19%</span></div>
                <div class="title">STUDENTS HAVE WORKING OVERSEAS</div>
            </li>
        </ul>
    </div>
</section>

<!-- Start Campus Tour Section -->
<section class="campus-tour padding-lg">
    <div class="container">
        <h2><span>Our campus have a lot to offer for our students</span>TAKE A CAMPUS TOUR</h2>
    </div>
    <ul class="gallery clearfix">
        <li>
            <div class="overlay">
                <h3>FPT University</h3>
                <p>FPT University</p>
                <a class="galleryItem" href="../imageshome/tour-lg1.jpg"><span class="icon-enlarge-icon"></span></a> <a href="gallery.html" class="more"><span class="icon-gallery-more-arrow"></span></a>
            </div>
            <figure><img src="../imageshome/tour1.jpg" class="img-responsive" alt=""></figure>
        </li>
        <li>
            <div class="overlay">
                <h3>FPT University</h3>
                <p>FPT University</p>
                <a class="galleryItem" href="../imageshome/tour-lg2.jpg"><span class="icon-enlarge-icon"></span></a> <a href="gallery.html" class="more"><span class="icon-gallery-more-arrow"></span></a>
            </div>
            <figure><img src="../imageshome/tour2.jpg" class="img-responsive" alt=""></figure>
        </li>
        <li>
            <div class="overlay">
                <h3>FPT University</h3>
                <p>FPT University</p>
                <a class="galleryItem" href="../imageshome/tour-lg3.jpg"><span class="icon-enlarge-icon"></span></a> <a href="gallery.html" class="more"><span class="icon-gallery-more-arrow"></span></a>
            </div>
            <figure><img src="../imageshome/tour3.jpg" class="img-responsive" alt=""></figure>
        </li>
        <li>
            <div class="overlay">
                <h3>FPT University</h3>
                <p>FPT University</p>
                <a class="galleryItem" href="../imageshome/tour-lg4.jpg"><span class="icon-enlarge-icon"></span></a> <a href="gallery.html" class="more"><span class="icon-gallery-more-arrow"></span></a>
            </div>
            <figure><img src="../imageshome/tour4.jpg" class="img-responsive" alt=""></figure>
        </li>
        <li>
            <div class="overlay">
                <h3>FPT University</h3>
                <p>FPT University</p>
                <a class="galleryItem" href="../imageshome/tour-lg5.jpg"><span class="icon-enlarge-icon"></span></a> <a href="gallery.html" class="more"><span class="icon-gallery-more-arrow"></span></a>
            </div>
            <figure><img src="../imageshome/tour5.jpg" class="img-responsive" alt=""></figure>
        </li>
        <li>
            <div class="overlay">
                <h3>FPT University</h3>
                <p>FPT University</p>
                <a class="galleryItem" href="../imageshome/tour-lg6.jpg"><span class="icon-enlarge-icon"></span></a> <a href="gallery.html" class="more"><span class="icon-gallery-more-arrow"></span></a>
            </div>
            <figure><img src="../imageshome/tour6.jpg" class="img-responsive" alt=""></figure>
        </li>
        <li>
            <div class="overlay">
                <h3>FPT University</h3>
                <p>FPT University</p>
                <a class="galleryItem" href="../imageshome/tour-lg7.jpg"><span class="icon-enlarge-icon"></span></a> <a href="gallery.html" class="more"><span class="icon-gallery-more-arrow"></span></a>
            </div>
            <figure><img src="../imageshome/tour7.jpg" class="img-responsive" alt=""></figure>
        </li>
        <li>
            <div class="overlay">
                <h3>FPT University</h3>
                <p>FPT University</p>
                <a class="galleryItem" href="../imageshome/tour-lg8.jpg"><span class="icon-enlarge-icon"></span></a> <a href="gallery.html" class="more"><span class="icon-gallery-more-arrow"></span></a>
            </div>
            <figure><img src="../imageshome/tour8.jpg" class="img-responsive" alt=""></figure>
        </li>
        <li>
            <div class="overlay">
                <h3>FPT University</h3>
                <p>FPT University</p>
                <a class="galleryItem" href="../imageshome/tour-lg9.jpg"><span class="icon-enlarge-icon"></span></a> <a href="gallery.html" class="more"><span class="icon-gallery-more-arrow"></span></a>
            </div>
            <figure><img src="../imageshome/tour9.jpg" class="img-responsive" alt=""></figure>
        </li>
        <li>
            <div class="overlay">
                <h3>FPT University</h3>
                <p>FPT University</p>
                <a class="galleryItem" href="../imageshome/tour-lg10.jpg"><span class="icon-enlarge-icon"></span></a> <a href="gallery.html" class="more"><span class="icon-gallery-more-arrow"></span></a>
            </div>
            <figure><img src="../imageshome/tour10.jpg" class="img-responsive" alt=""></figure>
        </li>
    </ul>
</section>
<!-- End Campus Tour Section -->
<!-- Start logos Section -->
<!-- End logos Section -->
<!-- Start Testimonial -->
<!-- End Testimonial -->
<!-- Start Footer -->
