@model Model.User
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-banner-info-w3ltd position-relative">
	<div class="slider">
		<ul class="rslides" id="slider">
			<li>
				<div class="d-flex banner-w3pvt-bg1 common-bg">
					<div class="d-flex mx-auto align-items-center justify-content-center flex-column">
						<div class="bnr-w3pvt">
							<h3>FPT Internship Management</h3>
							<div class="d-flex justify-content-between bnr-sub-txt align-items-center">
								<span></span>
								<p class="text-uppercase text-white">FIND A JOB AS QUICKLY AS POSSIBLE</p>
								<span></span>
							</div>
						</div>
						<div class="row justify-content-between bnr-form-w3ls">
							<div class="col-lg-4">
								<h4>Hơn 100,000+ việc làm hấp dẫn đang tuyển dụng hôm nay</h4>
							</div>
							<div class="col-lg-8">
								<form action="job_list.html" method="post" class="bnr-field">
									<div class="row">
										<div class="col-md-5 form-group mb-md-0">
											<label class="text-capitalize">
												Tìm việc
											</label>
											<input class="form-control" type="text" name="name" required=""
												   placeholder="IT, Designer, Marketing">
										</div>
										<div class="col-md-5 mb-md-0 form-group">
											<label class="text-capitalize">
												Nơi làm việc
											</label>
											<input class="form-control" type="text" name="place" required=""
												   placeholder="Ha Noi, Ho Chi Minh, Da Nang">
										</div>
										<div class="col-md-2 d-flex align-items-end">
											<button type="submit" class="btn btn-w3ltd btn-block w-100 bg-theme font-weight-bold text-uppercase">
												<span class="fa fa-search"></span>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="d-flex banner-w3pvt-bg2 common-bg">
					<div class="d-flex mx-auto align-items-center justify-content-center flex-column">
						<div class="bnr-w3pvt">
							<h3>FPT Internship Management</h3>
							<div class="d-flex justify-content-between bnr-sub-txt align-items-center">
								<span></span>
								<p class="text-uppercase text-white">FIND A JOB AS QUICKLY AS POSSIBLE</p>
								<span></span>
							</div>
						</div>
						<div class="row justify-content-between bnr-form-w3ls">
							<div class="col-lg-4">
								<h4>Hơn 100,000+ việc làm hấp dẫn đang tuyển dụng hôm nay</h4>
							</div>
							<div class="col-lg-8">
								<form action="job_list.html" method="post" class="bnr-field">
									<div class="row">
										<div class="col-md-5 form-group mb-md-0">
											<label class="text-capitalize">
												Tìm việc
											</label>
											<input class="form-control" type="text" name="name" required=""
												   placeholder="IT, Designer, Marketing">
										</div>
										<div class="col-md-5 mb-md-0 form-group">
											<label class="text-capitalize">
												Nơi làm việc
											</label>
											<input class="form-control" type="text" name="place" required=""
												   placeholder="Ha Noi, Ho Chi Minh, Da Nang">
										</div>
										<div class="col-md-2 d-flex align-items-end">
											<button type="submit" class="btn btn-w3ltd bg-theme btn-block w-100 font-weight-bold text-uppercase">
												<span class="fa fa-search"></span>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="d-flex banner-w3pvt-bg3 common-bg">
					<div class="d-flex mx-auto align-items-center justify-content-center flex-column">
						<div class="bnr-w3pvt">
							<h3>FPT Internship Management</h3>
							<div class="d-flex justify-content-between bnr-sub-txt align-items-center">
								<span></span>
								<p class="text-uppercase text-white">FIND A JOB AS QUICKLY AS POSSIBLE</p>
								<span></span>
							</div>
						</div>
						<div class="row justify-content-between bnr-form-w3ls">
							<div class="col-lg-4">
								<h4>Hơn 100,000+ việc làm hấp dẫn đang tuyển dụng hôm nay</h4>
							</div>
							<div class="col-lg-8">
								<form action="job_list.html" method="post" class="bnr-field">
									<div class="row">
										<div class="col-md-5 form-group mb-md-0">
											<label class="text-capitalize">
												Tìm việc
											</label>
											<input class="form-control" type="text" name="name" required=""
												   placeholder="IT, Designer, Marketing">
										</div>
										<div class="col-md-5 mb-md-0 form-group">
											<label class="text-capitalize">
												Nơi làm việc
											</label>
											<input class="form-control" type="text" name="place" required=""
												   placeholder="Ha Noi, Ho Chi Minh, Da Nang">
										</div>
										<div class="col-md-2 d-flex align-items-end">
											<button type="submit" class="btn btn-w3ltd bg-theme  btn-block w-100 font-weight-bold text-uppercase">
												<span class="fa fa-search"></span>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- //Slider -->
<!--partners  -->
<div class="w3ltdits-partners bg-theme" id="partners">
	<div class="container pt-4">
		<div class="title-wthree text-center">
			<h3 class="w3ltd-title">
				Danh Sách Top Nhà Tuyển Dụng
			</h3>
			<span></span>
		</div>
		<ul class="list-unstyled py-md-5 py-3 partners-icon text-center">
			<li>
				<span class="fa fa-twitter-square" aria-hidden="true"></span>
			</li>
			<li>
				<span class="fa fa-facebook-square" aria-hidden="true"></span>
			</li>
			<li>
				<span class="fa fa-behance-square" aria-hidden="true"></span>
			</li>
			<li>
				<span class="fa fa-google-plus-square" aria-hidden="true"></span>
			</li>
			<li>
				<span class="fa fa-cc-stripe" aria-hidden="true"></span>
			</li>
			<li>
				<span class="fa fa-cc-jcb" aria-hidden="true"></span>
			</li>
		</ul>
	</div>
</div>
<!-- //partners -->
<!-- job roles -->
<div class="wthreepvt-pos py-md-5 py-5" id="positions">
	<div class="container py-lg-5">
		<div class="wthreepvt-pos-row row  text-center">
			@{
				var data = ViewBag.KeyValues;
				foreach (var keyvalue in data)
				{
					<div class="col-lg-4 col-sm-6 wthreepvt-pos-grids">
						<div class="p-md-5 p-sm-3">
							<span class="fa fa-check-square" aria-hidden="true"></span>
							<h4 class="mt-2 mb-3">@keyvalue.Key</h4>
							<p>@keyvalue.Value</p>
						</div>
					</div>
				}
			}

			@*<div class="col-lg-4 col-sm-6 wthreepvt-pos-grids  border-left border-right my-sm-0 my-5">
						<div class="p-md-5 p-sm-3">
							<span class="fa fa-suitcase" aria-hidden="true"></span>
							<h4 class="mt-2 mb-3">Marketing</h4>
							<p>SEO, Google Ads, Facebook Ads, Tiktok Ads, Zalo Ads</p>
						</div>
					</div>
					<div class="col-lg-4 wthreepvt-pos-grids">
						<div class="p-md-5 p-sm-3">
							<span class="fa fa-thumbs-up" aria-hidden="true"></span>
							<h4 class="mt-2 mb-3">Tài Chính - Ngân Hàng</h4>
							<p>Kiểm Định, Tín dụng, Chăm sóc khách hàng, kế toán...</p>
						</div>
					</div>
				</div>
				<div class="wthreepvt-pos-row border-top row text-center pb-lg-5 pt-md-0 pt-5 mt-md-0 mt-sm-5 mt-4">
					<div class="col-lg-4 col-sm-6 wthreepvt-pos-grids">
						<div class="p-md-5 p-sm-3 col-label">
							<span class="fa fa-thumb-tack" aria-hidden="true"></span>
							<h4 class="mt-2 mb-3">Bảo Hiểm</h4>
							<p>Chăm sóc khách hàng, Hoạch đinh tài chính, Tư Vấn, Hành chính...</p>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 wthreepvt-pos-grids mt-lg-0 mt-md-3 border-left border-right pt-sm-0 pt-5">
						<div class="p-md-5 p-sm-3 col-label">
							<span class="fa fa-external-link" aria-hidden="true"></span>
							<h4 class="mt-2 mb-3">Cơ Khí - Chế Tạo</h4>
							<p>Kỹ thuật, Bảo trì, Thiết kế, Lắp ráp...</p>
						</div>
					</div>
					<div class="col-lg-4 wthreepvt-pos-grids pt-md-0 pt-5">
						<div class="p-md-5 p-sm-3 col-label">
							<span class="fa fa-cog" aria-hidden="true"></span>
							<h4 class="mt-2 mb-3">Designer</h4>
							<p>Logo, Bao bì, In ấn, 3D , 2D ....</p>
						</div>
					</div>*@
		</div>
	</div>
</div>
<!-- //job roles -->
<!-- login modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-theme1">
				<h5 class="modal-title" id="exampleModalLabel">Đăng nhập</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				@using (Html.BeginForm("Autherize","Login", FormMethod.Post))
				{
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Họ Tên</label>
                    class="form-control"
                    @Html.LabelFor(Model => Model.Username)

                    @Html.EditorFor(Model => Model.Username, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Username)





                    @Html.TextBoxFor(Model => Model.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Username)
                </div>
					<div class="form-control" style="width: 500px; background:red;">
						@Html.LabelFor(Model => Model.Password)
						@Html.EditorFor(Model => Model.Password)
						@Html.ValidationMessageFor(Model => Model.Password)
					</div>
					<div class="right-w3l">
						<input type="submit" class="form-control bg-theme" value="Login">
					</div>
					<div class="row sub-w3l my-3">
						<div class="col sub-w3ltd">
							<input type="checkbox" id="brand1" value="">
							<label for="brand1" class="text-dark">
								<span></span>Ghi nhớ
							</label>
						</div>
						<div class="col forgot-w3l text-right">
							<a href="#" class="text-dark">Quên mật khẩu?</a>
						</div>
					</div>
					<p class="text-center dont-do">
						Bạn chưa có tài khoản?
						<a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark">
							<strong>Đăng Ký Ngay</strong>
						</a>
					</p>
				}
			</div>
		</div>
	</div>
</div>
<!-- //login modal -->
<!-- register modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-theme1">
				<h5 class="modal-title" id="exampleModalLabel1">Đăng Ký</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="#" method="post" class="p-3">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Họ Tên</label>
						<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-rname"
							   required="">
					</div>
					<div class="form-group">
						<label for="recipient-email" class="col-form-label">Email</label>
						<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email"
							   required="">
					</div>
					<div class="form-group">
						<label for="password1" class="col-form-label">Mật khẩu</label>
						<input type="password" class="form-control" placeholder=" " name="Password" id="password1"
							   required="">
					</div>
					<div class="form-group">
						<label for="password2" class="col-form-label">Nhập lại mật khẩu</label>
						<input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2"
							   required="">
					</div>
					<div class="sub-w3l">
						<div class="sub-w3ltd">
							<input type="checkbox" id="brand2" value="">
							<label for="brand2" class="mb-3 text-dark">
								<span></span>Tôi đồng ý với điều khoản và chính sách!
							</label>
						</div>
					</div>
					<div class="right-w3l">
						<input type="submit" class="form-control bg-theme" value="Đăng Ký">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src='@Url.Content("~/Scripts/jquery-1.8.2.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
<!-- //register modal -->