@model List<FPTInternshipManagement.Models.JobListModel>

@{
    ViewBag.Title = "JobList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
        function ApplyJob(id) {
            var serviceURL = '/Home/ApplyJob';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify({ id: id }),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data, status) {
                //window.location.href = window.location.href;
            }
            function errorFunc() {
                alert('error');
            }
    }
    $(document).ready(function() {
        $('#btnSearch').on('click', function () {
            var select ="";
            $.each($("input[name='cat2']:checked"), function () {
                select = select +   $(this).val() + ",";
            })
            if (select != "") {
                select = select.substr(0, select.length - 1);
            }
            var keyword = $('#txtSearch').val();
           
                var serviceURL = '/Home/SearchJob';
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: JSON.stringify({ keyword: keyword ,select : select }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: successFunc,
                    error: errorFunc
                });
                function successFunc(data, status) {
                    $('#showjob').html('');
                    $('#showjob').html(data);
                }
                function errorFunc() {
                    alert('error');
                }
        });


        //if (localStorage.getItem('searchkey') != null && localStorage.getItem('searchkey') != "") {
        //    $('#txtSearch').val(localStorage.getItem('searchkey'));
        //    $('#btnSearch').click();
        //}
    })
</script>


<div class="inner-banner-w3ls">
</div>
<!-- breadcrumbs -->

<!-- //breadcrumbs -->
<!-- jobs -->
<section class="employ-sec">
    <div class="container">
        <div class="title-sec-w3layouts_pvt text-center pb-4">
            <span class="title-wthree">FPT INTERNSHIP MANAGEMENT</span>
            <h4 class="w3layouts_pvt-head">Find jobs for the easiest internship.</h4>
        </div>
        <div class="row pt-lg-5">
            <div class="col-lg-4">
                <div class="left_widget">
                    <h5 class="left-widget-job mb-2">
                        Search
                    </h5>
                    <input id="txtSearch" type="text" class="form-control my-3 mt-1" placeholder="Find jobs" style="margin-top:10px;" >
                    <br/>
                    <input type="submit" id="btnSearch" value="submit" class="form-control bg-theme text-uppercase " style="margin-top:10px;" >

                    <div class="left_widget">
                        <h5 class="left-widget-job" style="margin-top:10px;" >
                            Location
                        </h5>
                        <ul style="margin-top:10px;" id="lstskill" >
                            @foreach (var item in ViewBag.Location)
                            {
                                <li>
                                    <input type="checkbox" class="checked" name="cat2" value="@item.LocationID">
                                    <label for="cat2">@item.LocationDetail</label>
                                </li>
                            }

                        </ul>
                    </div>
                </div>

               
            </div>
            <div id="showjob" class="col-lg-8">
                <div class="row">
                    @foreach (var item in Model)
                    { 
                    <div class="col-sm-12 float-left row" style="padding: 10px; border-bottom: dashed;">
                        <div class="col-sm-3  float-left">
                            <a href="/Home/JobDetail/@item.JobID"><img src="/Assets/images/job-application-form-resized-600-jpg.png" alt="" style="width: 100%; height: 180px"></a>
                        </div>
                        <div class="e-desc col-sm-6  float-left">
                            <h6>
                                <a href="/Home/JobDetail/@item.JobID">
                                    @item.JobName
                                </a>
                            </h6>

                            <ul class="e-tags">
                                @Html.Raw(item.ListSkill)
                            </ul>
                            <hr>
                            <ul class="desc-list">
                                <li>
                                    <span>Location:</span>
                                    @item.LocationName
                                </li>
                                <li>
                                    <span>Salary:</span>
                                    Negotiable
                                </li>
                                <li>
                                    <span>Experience</span>
                                    Expert
                                </li>

                            </ul>
                            </div>
                        <div class="col-sm-2 float-left">
                            @if (Session["loggeduser"] != null && Session["role"] != null && Session["role"].ToString().Contains("Student"))
                            {
                                if (item.Status == "Applyed")
                                {
                                    <a class="btn wthree-bnr-btn text-capitalize" role="button" style="padding: 4px 10px;background: #b3a7a7;">
                                       Applyed
                                    </a>
                                }
                                else
                                {
                                    <a onclick="ApplyJob(@item.JobID)" data-toggle="modal" style="padding: 4px 10px" data-target="#tks" class="btn wthree-bnr-btn text-capitalize" role="button">
                                        Apply
                                        for job
                                    </a>
                                }


                            }
                            else
                            {
                                <a data-toggle="modal" data-target="#myModal" class="btn wthree-bnr-btn text-capitalize" role="button">
                                    Apply
                                    for job
                                </a>
                            }
                        </div>
                        </div>
                            }
                        </div>



                </div>

            </div>
      
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Notification</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h1>Please login to apply for the Job</h1>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="tks">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Notification</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h1>Apply Success!</h1>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="reloadPage()">Close</button>
                </div>

            </div>
        </div>
    </div>
    <script>
        function reloadPage() {
            window.location.href = window.location.href;
        }					
    </script>
</section>



