@{
    Layout = "";
}
    <table id="lsStudent" class="table table-striped table-bordered table-hover" cellspacing="0" width="80%" align="center">
        <thead>
            <tr style="background: #234a66; color: white;">
                <th class="th">No</th>
                <th class="th">Job Name</th>
                <th class="th">Location</th>
                <th class="th">Recruiter Name</th>
                <th class="th">Status</th>
                <th class="th">Action</th>
            </tr>
        </thead>
        <tbody>
            @{ var count2 = 1;

                foreach (var ex in ViewBag.Jobs)
                {
                        <tr>
                            <td>
                                @count2
                            </td>
                            <td>
                                @ex.JobName
                            </td>
                            <td>
                                @ex.Location
                            </td>
                            <td>
                                @ex.Recruit
                            </td>
                            <td>
                                @{
                                    if (ex.Status == "Not Activated")
                                    {
                                        <a style="cursor:pointer">&nbsp;@ex.Status &nbsp;</a>
                                    }
                                    else if (ex.Status == "Activated")
                                    {
                                    <a style="cursor:pointer">&nbsp;@ex.Status &nbsp;</a>
                                    }
                                    else if (ex.Status == "Reject")
                                    {
                                    <a style="cursor:pointer" class="btn btn-danger">&nbsp;@ex.Status &nbsp;</a>
                                    }

                                }
                            </td>
                            <td>
                                @{
                                    if (ex.Status == "Not Activated")
                                    {
                                        <a onclick="DelJob(@ex.JobID)" style="cursor:pointer;background:red;padding:4px;" class="btn btn-danger">&nbsp;Cancel &nbsp;</a>
                                    }
                                    else if (ex.Status == "Activated")
                                    {
                                        <a data-toggle="modal" data-target="#feedback" onclick="Feedback(@ex.JobID)" style="cursor:pointer">&nbsp;Feedback &nbsp;</a>
                                    }
                                }
                            </td>
                        </tr>
                    count2 += 1;
                }

            }

        </tbody>
    </table>
