@model FPTInternshipManagement.Models.StudentViewModel

@{
	ViewBag.Title = "MyProfile";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wthreepvt-pos py-md-5 py-5" id="positions">
	<div class="container">
		<div class="content-account">

			<br>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="myTab">
				<li class="nav-item show">
					<a class="nav-link active" data_id="1" data-toggle="tab" href="#Account">Account</a>
				</li>
				<li class="nav-item show">
					<a class="nav-link" data_id="2" data-toggle="tab" href="#Aspirations">Aspirations</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">

				<div id="Account" class="container tab-pane active">
					<form action="#" method="post" class="p-3">
						<br>
						<div class="table-responsive">
							<table class="table-avatar-name">
								<tbody>
									<tr>
										<td>
											<div class="div-avatar">
												<img class="user-avatar" src="#" />
											</div>
										</td>
										<td class="user-name">Do Duc</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<div class="form-group">
							<label for="recipient-email" class="col-form-label">Email</label>
							<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email"
								   required="">
						</div>
						<div class="form-group">
							<label for="recipient-email" class="col-form-label">Name</label>
							<input type="text" class="form-control" placeholder=" " name="Email" id="recipient-email"
								   required="">
						</div>
						<div class="form-group">
							<label for="recipient-email" class="col-form-label">Address</label>
							<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email"
								   required="">
						</div>
						<div class="custom-file mb-3">
							<label class="custom-file-label" for="customFile">CV File</label>
							<input type="file" class="custom-file-input" id="customFile" name="filename">
						</div>
						<div class="right-w3l">
							<input type="submit" class="form-control bg-theme" value="Save">
						</div>
					</form>
				</div>
				<div id="Aspirations" class="container tab-pane fade">
					@using (Html.BeginForm("MyProfile", "Student"))
					{

						<div class="form-group">
							<label for="recipient-email" class="col-form-label">Aspirations Name</label>
							<input type="text" class="form-control" placeholder=" " name="AspirationsName" id="recipient-email"
								   required="" value="@TempData["Name"]">
						</div>
						<div class="form-group">
							<label for="recipient-email" class="col-form-label">Salary</label>
							<input type="text" class="form-control" placeholder=" " name="Salary" id="recipient-email"
								   required="" value="@TempData["Salary"]">
						</div>
						<div class="form-group">
							<label for="recipient-email" class="col-form-label">Description</label>
							<input type="text" class="form-control" placeholder=" " name="Description" id="recipient-email"
								   required="" value="@TempData["Description"]">
						</div>
						<div class="form-group">
							<label for="SelectedDepartmentId">Department:</label>
							@Html.DropDownListFor(x => x.SelectedDepartmentId, Model.SelectListItems, "- Select one -", new { id = "dropdownDepartment", Name = "dropdownDepartment", @class = "form-control", onchange = "this.form.submit();" })
						</div>
						foreach (var item in Model.AvailableSkills)
						{
							<div class="checkbox">
								<label>
									<input type="checkbox"
										   name="SelectedSkills"
										   value="@item.Value"
										   @if (Model.SelectedSkills.Contains(item.Value)) { <text> checked </text> } /> @item.Text
									</label>
								</div>
							}
							<div class="right-w3l">
								<input type="submit" class="form-control bg-theme" formaction="/Student/SaveAspiration" value="Save" name="btnSave">
							</div>
						}
				</div>

			</div>

		</div>

	</div>
</div>
<script>
	$(".custom-file-input").on("change", function () {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
</script>

<script>
	$('chosen-select').chosen();
</script>

@Html.Raw(TempData["Script"])



